{% extends 'shortener/base.html' %}
{% load widget_tweaks %}

{% block body %}}

    <div>
        <h3 class="text-center mt-3">LOGIN</h3>

        <form action="{% url 'login' %}" method="post" class="container mt-4">
            {% csrf_token %}

            
            {% if messages is not None%}

                {% for message in messages %}
                    <p class="text-danger">{{ message }}</p>
                {% endfor %}

            {% endif %}
            
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username|attr:"class:form-control" }} 
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password|attr:"class:form-control" }}
            </div>
            <input type="submit" value="Login" class="btn btn-primary mt-2">
        </form>
    </div>
    
{% endblock %}